* {
  box-sizing: border-box;
}
body {
   margin: 0px auto;
   height: 100%;
}
header {
   color: bisque;
}
.box {
  display: flex;
  flex-wrap: wrap;
  height: 249px;
  justify-content: space-between;
}
div {
  background-color: #0f1111;
}
.card {
 


}
.card_33-child-icon:hover {
  cursor: pointer;
  color: gold;
}
.hove:hover {
  cursor: pointer;
  color: gold;
  font-size: 17px;
  transition: 0.5s;
}
.img-header {
  max-width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
}
.card_2 {
  text-shadow: 1px 1px 4px gold;
}
.h1-header-card_2 {
  font-size: 30px;
  color: white;
  text-shadow: 3px 2px 8px 4px rgba(255, 217, 0, 0.7); 
}
.tel-card_2 {
  color: white;
  text-shadow: 2px 3px 4px  rgba(255, 217, 0, 0.7); 
  font-size: 23px;
}
.button {
  width: 150px;
  padding: 10px 10px;
  background-color: gold;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  color: gold;
  background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
  cursor: pointer;
  border-radius: 50%;
  margin-left:210px;
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(255,215,.1),
  inset 0 0 20px rgba(0,0,0,.1);
  margin-bottom: 5px;
}
button:hover {
  background-color: rgb(13, 12, 6);
  color: rgb(208, 198, 198);
  box-shadow: 0 6px 25px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.9),
  0 2px 0 rgba(255,215,.5),
  inset 0 0 20px rgba(0,0,0,.5);
}
.card_33 {
  margin-top: 50px;
  color: gainsboro;
}
.card_33-child {
  margin-left: 23px;
}
.card_33-child-icon{
  color: rgb(89, 88, 88);
  font-size: 20px;
}
.card_33-child-clock {
  margin-right: 20px;
  margin-top: 65px;
}
span {
  color: orange;
  font-size: 48px;
}
.nav-menu {
  width: 100%;
 }
 .one ul {
  background-color: #0f1111; 
  color:gainsboro ;
}
.one ul a {
  color:gainsboro ;
}
.one .submenu {
  display: none;
  background-color: #0f1111; 
  color:gainsboro ;
}
.one ul li:hover .submenu {
  display: block;
  color:gainsboro ;
}
ul {
  margin: 0;
  padding: 0;
}
.topmenu > li {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.topmenu > li:last-child {
 /* margin-right: 0;*/
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 150%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border : solid 2px gold;
  border-top: none;
}
.submenu {
  width: 200px;
  margin: 0px 10px;
}
.submenu li a:hover {
 color: #337AB7;
}
.topm {
  display: inline-block;
  margin: 0px;
  padding-left: 25px;
  font-size: 20px;
  color: gainsboro;
}
.topm {
	position: relative;
	color: gold; /*задаём цвет ссылки*/
  color:gainsboro ;
	cursor: pointer;
	line-height: 2; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.topm:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color: gold; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}
.topm:hover:after,
.topm:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
h2 {
  font-family: monospace;
  color: #606060;
}
.submenu {
  margin:0px;
 
}


@keyframes submenu-anim {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  5% {
      transform: translateX(-0.1rem);
  }
  100% {
      transform: translateX(1rem);
      opacity: 0;
  }
}
@keyframes submenu-6-fixed-anim {
  5% {
      opacity: 0;
  }
  20% {
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}
.slideshow {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  background: #000;
  margin: 0px ;
}
.slideshow-item {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: slideanim 40s infinite;
  pointer-events: none;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
  animation-delay: 30s;
}
.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 40s infinite;
}
.slideshow-item_children {
  max-width: 100%;
}
.content {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}
h1 {
  text-align: center;
  color:gainsboro ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
 
}
 h1:before,  h1:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 14px;
    width: 55px;
    height: 1px;
}
  .block {
    color: #606060;
    font-size: 25px;
    letter-spacing: 7px;
    margin: 40px 40px;
}
  .block-content {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2.5;
    font-weight: lighter;
    font-size: 20px;
}
.flex-item-1 {
max-width: 100%;
}
.flex-item-2 {
  max-width: 100%; 
}
.flex-item-3 {
  max-width: 100%;
}
  .image {
    display: flex;
    justify-content: space-between;
   margin: 0px 100px 100px;
}
  
  hr {
    border: solid 1px #606060f4  ;
    margin-left: 20px;
    margin-right: 20px;
}
.box-2 {
  display:flex;
  justify-content: space-between;
 }

/*@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}*/
.content-hed {
   color: gold;
   font-size: 38px;
   font-weight: lighter;
   border-bottom:solid 2px gold ;
   margin-left: 20px;
 
 }
 .content-hed:hover {
 border: none;
 }
 img {
   float: left;
   margin-left: 20px;
 }
.info-content {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}
.avto {
  float:right;
  max-width: 100%;
}

.spisok-text {
  color: white;
}
.spisok-text-2 {
  color: white;
}
.lefting-2 {
  float: left;
  margin: 0px 10px 0px 20px;

}

.left-2 {
  background-color: aliceblue;
  float: right;
}
.card-item {
  display: flex;
  color: gray;
  justify-content: center;
 font-size: 16px;
}
.card-item1 {
width: 45%;
background-color: #070707;
margin-right: 10px;
padding-bottom: 15px;

}
.card-item2 {
  width: 45%;
  background-color: #070707;
  margin-left: 10px;
  padding-bottom: 15px;
  padding-right: 15px;

 
}
.icon {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 100px 20px;
}


.img-card-item {
 margin: 0px 10px 0px;
 max-width: 100%;
}
.item {
   font-size: 18px;
}
.icon_childr {
  max-width: 100%;
}
.pop_up_body {
  margin: 0 auto;
  width: 420px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 30px 15px 110px 15px;
  margin-bottom: 80px;
}
.pop_up_body p {
      font-size: 38px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 500;
      color: black;
      margin-bottom: 30px;
      margin-top: 0px;
}
.pop_up_body input {
      display: block;
      margin: 25px auto 0px auto;
      width: 200px;
      padding: 12px 15px;
     text-align: center;
      border-radius: 10px;
      border: solid 1px gray;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 500;
      font-size: 20px;
      color: #1b1a1a;
} 
.pop_up_body input:focus {
     outline: none;
}

h4 {
  color: #606060;
  font-weight: lighter;
}
.content-li {
 display: flex;
 flex-direction: column;
}
.content-li-item {
  color: white;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 1.5;
}
.p-cont-li-item {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 21px;
}
.overlow-footer {
  display: flex;
  justify-content: space-between;
  background-color:#070707 ;
  width: 100%;
  height: 320px;
  margin-top: 60px;
}
.overlow-footer-child {
 margin-right: 30px;
 background-color:#070707 ;
 width: 30%;
text-align: center;
}
.avtor {
  color: goldenrod;
  margin-top: 150px;
  text-align: center;
}
.cont-footer {
  margin-left: 30px;
  padding-top: 0px;
  font-size: 21px;
}
.cont-footer2 {
  margin-left: 30px;
  padding-top: 0px;
  font-size: 21px;
}
.telefon {
  color: rgb(199, 196, 196);
  font-size: 24px;
  margin-left: 30px;
  margin-bottom: 0;
  max-width: 100%;
}
.cont-footer2_child {
  max-width: 100%; 
}
.li-footer {
  color: grey;
  margin-left: 30px;
  font-size: 20px;
 list-style: none;
}
.li-footer2 {
  color: rgb(199, 192, 192);
  
  margin-top: 10px;
  font-size: 20px;
 list-style: none;
}

.one-cont:hover {
  color: gold;
 text-decoration: underline;
  cursor: pointer;
  font-size: 21px;
  transition: 0.5s;
}
.one-cont2:hover {
  color: gold;
  text-decoration: underline;
 cursor: pointer; 
 font-size: 21px;
 transition: 0.5s;
}
.cont-foot1:hover {
  font-size: 21px;
  color: gold;
  cursor: pointer;
  transition: 0.5s;
}
.cont-foot2:hover {
  font-size: 21px;
  color: gold;
  cursor: pointer;
  transition: 0.5s;
}
.p-foo {
color: white;
margin-left: 30px;
margin-top: 30px;
margin-bottom: 0;
}
.home {
  margin-top:30px;
  max-width: 100%;
}
.right {
 float:right;
  width:60%;
  display: flex;
  margin-top: 60px;
}
.left {
  display: flex;
  flex-direction: column;
 float:left;
 width:400px;
}
.right33 {
  float:right;
  flex-direction: column;
  display: flex;

 }
 .box-33 {
  display:flex;
justify-content: center;

justify-content: space-between;
 }
.box-3 {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }


.right_content {
justify-content: center;

}
.right_content-2 {
 justify-content: center;
 
}

  .card-2_box-3 {
    color:white;
   font-size:27px;
    text-align: center;


  }
  .card-2 {
    color:white;
   /*padding-left:70px;*/
   font-size:27px;
   text-align: center;
  }
.btn-1-2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}


.right-2 {
  float:right;
  width:40%;
margin-left: 720px;
}

.right-h1 {
 margin-left: 100px;
}

.btn-1 {
  border:solid 1px gold;
  background-color:gold;
  color:black;
  width:260px;
  padding: 10px 10px;
  font-size:20px;
 /* margin-left: 230px;*/
  border-radius: 3px;
  border-bottom: solid 5px rgb(171, 147, 12);
}
.btn-2 {
  border:solid 1px gold;
  background-color:gold;
  color:black;
  width:260px;
  padding: 10px 10px;
  font-size:20px;
  margin-top:8px;
 /* margin-left: 230px;*/
  border-radius: 3px;
  border-bottom: solid 4px rgb(171, 147, 12);
}
.btn-3head {
  display: flex;
  justify-content: center;
}
.btn-3 {
  border:solid 1px gold;
  background-color:gold;
  color:black;
  width:190px;
  padding: 10px 10px;
  font-size:20px;
  margin-top:8px;
  border-radius: 3px;
  border-bottom: solid 4px rgb(171, 147, 12);
  margin-top: 100px;
  margin-bottom: 70px;
}
.btn-4head {
  display: flex;
  justify-content: center;
}
.btn-4 {
  border:solid 1px gold;
  background-color:gold;
  color:black;
  width:190px;
  padding: 10px 10px;
  font-size:20px;
  margin-top:8px;
  border-radius: 3px;
  border-bottom: solid 4px rgb(171, 147, 12);
  margin-top: 80px;
  margin-bottom: 100px;
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(255,215,.1),
  inset 0 0 20px rgba(0,0,0,.1);
}
.btn-5 {
  border:solid 1px gold;
  background-color:gold;
  color:black;
  width:230px;
  padding: 10px 10px;
  font-size:20px;
  margin-top:8px;
  border-radius: 3px;
  border-bottom: solid 4px rgb(171, 147, 12);
  margin-top: 40px;
  margin-bottom:20px;
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(255,215,.1),
  inset 0 0 20px rgba(0,0,0,.1);
}
.cont-footer2_child:hover {
  cursor: pointer;
}
.btn-1:hover {
  background-color: rgb(215, 185, 12);
  color: black;
  cursor: pointer;
}
.btn-2:hover {
  background-color: rgb(215, 185, 12);
  color: black;
  cursor: pointer;
}
.btn-3:hover {
  background-color: rgb(215, 185, 12);
  color: black;
  cursor: pointer;
}
.btn-4:hover {
  background-color: rgb(215, 185, 12);
  color: black;
  cursor: pointer;
}
.btn-5:hover {
  background-color: rgb(215, 185, 12);
  color: black;
  cursor: pointer;
}
.btn-1,
.btn-2 {
  display: inline-block;
}
.btn-1,
.btn-2 {
  float: left;
}

.btn-2 {
  clear: left;
}

.wrapper-right33 {
  margin-right: 50px;
}
.wrapper-left {
  margin-left: 50px;
}

.lefting {
float: left;
margin: 7px 10px 7px 0px;
max-width: 100%;
}
.righting {
  float: left;
  margin: 7px 10px 7px 0px;
  max-width: 100%;

}
.spisok-icon {
color: white;
font-size: 22px;

}
.spisok-icon-2 {
  margin-top: 50px;
  color: white;
  font-size: 22px;
 padding-top: 10px;
  }
  .spisok-icon-3 {
    margin-top: 50px;
    color: white;
    font-size: 22px;
    padding-top: 10px;
    }
    .spisok-icon-4 {
      margin-top: 50px;
      color: white;
      font-size: 22px;
      margin-bottom: 50px;
      padding-top: 15px;
      }
      
      .spisok-icon-5{
        color: white;
        font-size: 22px;
       margin-top: 10px;
       
        
      }
      .spisok-icon-6{
       
        color: white;
        font-size: 22px;
        margin-top: 50px;
        
      }
      .spisok-icon-7{
       
        margin-top: 50px;
        color: white;
        font-size: 22px;
       
      }
      .spisok-icon-8{
       
        margin-top: 50px;
        color: white;
        font-size: 22px;
        
        margin-bottom: 50px;
      }
      i {
        color: gold;
      }
.icon-1 {
  max-width: 100%;
}
.icon-2 {
  max-width: 100%;
}
.icon-3 {
  max-width: 100%;
}
.icon-4 {
  max-width: 100%;
}
@keyframes slideanim {
  12.5%{
      opacity: 1;
      pointer-events: auto;
  }
  25%{
      opacity: 1;
      pointer-events: auto;
  }    
  37.5%{
      opacity: 0;
  }
}
@keyframes zoom {
  50%{
      transform: scale(1.3);
  }    
}
@media screen and (max-width: 1100px){
  .slideshow-item-text{
      max-width: 75%;
  }
}
@media screen and (max-width: 456px){
  .slideshow-item-text {
      bottom: 0;
      left: 0;
      max-width: 100%;
  }
  .slideshow-item-text h5 {
      font-size: 18px;
  }
  .slideshow-item-text p {
      font-size: 13px;
  }
}





/*Проба написания медиазапросов*/

@media screen and (max-width: 1200px) {
.pop_up_body {
  height: 100%;
 margin-bottom: 40px;
}
.right {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.right_content {
  
  
}
}

@media screen and (max-width: 900px) {
  .image {
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
   width: 80%;
   margin: 0px auto;
   }
   .flex-item-1 {
   margin-left: 0;
   }
  .flex-item-2 {
   display: none;
  }
  .flex-item-3 {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
   }
   .pop_up_body {
    height: 100%;
   margin-bottom: 40px;
  }
}
 
@media screen and (max-width: 700px) {
  .img-header {
    height:100% ;
  }
  .h1-header-card_2 {
    font-size: 50px;
  }
  .slideshow-item {
    width:100%  ;
  }
  .box-2 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    
  }
  .block {
    font-size: 45px;
  }
  .content-li {
    font-size: 30px;
  }
  .p-cont-li-item {
    font-size: 40px;
  }
  .content-li-item {
    font-size: 40px;
  }
  .card-2,h1 {
    font-size: 40px;
  }
  .card-2_box-3 {
    font-size: 40px;
  }
 .cont-footer {
  font-size: 40px; 
 }
 .li-footer {
  font-size: 40px;
 }
 .li-footer2 {
  font-size: 40px;
 }
 .overlow-footer {
   height: 100%;
 }
 .cont-footer2 {
   font-size: 40px;
 }
 .avtor {
   font-size: 30px;
 }
 .overlow-footer {
   display: flex;
   flex-direction: column;
 }
 .overlow-footer-child {
  margin: 0 auto;
  width: 80%;
 
 }
 .cont-footer2_child {
  margin: 0 auto;
 
 }
  .content-hed {
    font-size: 60px;
  }
  .info-content {
    font-size: 40px;
  }
  .left {
    justify-content: space-between;
    width: 80%;
    
  }
  .right {

    width: 80%;
  }
  .box-33 {
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
}
.wrapper-left {
  margin: 0 auto;
  
}
.wrapper-right33 {
  margin-right: 0;
 margin-left: 50px;
  align-items: center;
  justify-content: space-between;
}
.right33 {
  justify-content: space-between;
  align-items: center;

}
.card-item {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 }
 .card-item2 {
   margin-left: 0;
   padding-right: 0;
   padding-bottom: 0;
   width: 80%;
font-size: 40px;
 }
 .card-item1 {
  margin-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  width: 80%;
  font-size: 40px;
}
.block-content {
  font-size: 40px;
}
.lefting {
  width: 80px;
  height: 80px;
}
.righting {
  width: 80px;
  height: 80px;
}
.spisok-icon {
  font-size: 50px;
}
.spisok-icon-2 {
  font-size: 50px;
}
.spisok-icon-3 {
  font-size: 50px;
}
.spisok-icon-4 {
  font-size: 50px;
}
.spisok-icon-5 {
  font-size: 50px;
}
.spisok-icon-6 {
  font-size: 50px;
}
.spisok-icon-7 {
  font-size: 50px;
}
.spisok-icon-8 {
  font-size: 50px;
}
.icon {
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  margin-left: 0;
  margin-right: 0;
}
.icon_childr {
  margin-left: 0;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}
svg {
  display: none;
}

}
@media screen and (max-width: 700px) {
  .pop_up_body {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .right33 {
    margin-left: 40px;
    
  }
  html,body {
    width: 100%;
   content: normal;
  }
  .slideshow {
    width: 100%;
    display: flex;
  }
  .h1-header-card_2 {
    width: 100%;
    font-size: 35px;
    
    text-align: center;
  }
  .button {
    display: none;
  }
  .tel-card_2 {
    margin-left: 30px;
  }
  .card_33 {
    display: none;
  }
  .card_33-child-clock {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .block {
    font-size:30px ;
  }
  .content-hed {
    font-size: 40px;
  }
  .info-content {
    margin: 0 auto;
    font-size: 34px;
   justify-content: center;
  }
  .btn-1 {
    font-size: 35px;
  }
  .btn-2 {
    font-size: 35px;
  }
  .btn-3 {
    font-size: 35px;
  }
  .btn-4 {
    font-size: 35px;
  }
  .btn-5 {
    font-size: 35px;
  }
  .spisok-icon {
    font-size: 40px;
  }
  .spisok-icon-2 {
    font-size: 40px;
  }
  .spisok-icon-3 {
    font-size: 40px;
  }
  .spisok-icon-4 {
    font-size: 40px;
  }
  .spisok-icon-5 {
    font-size: 40px;
  }
  .spisok-icon-6 {
    font-size: 40px;
  }
  .spisok-icon-7 {
    font-size: 40px;
  }
  .spisok-icon-8 {
    font-size: 40px;
  }
  .wrapper-right33 {
    margin-left: 0;
  }
  .block {
   margin: 40px 40px ;
   letter-spacing: 3px;
   text-align: center;
   font-size: 15px;
  }
 .img-card-item {
   width: 100%;
   margin: 0px auto;
 }
 .pop_up_body {
   height: 100%;
  padding-bottom: 40px;
 }
.cont-footer2_child {
   width: 50px;
   height: 50px;
 }
}




